@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

.ant-drawer-body {
  padding: 0 !important;
}

@media (width >= 40rem /* 640px */) {
  .ant-drawer {
    display: none !important;
  }
}

.ant-dropdown {
  width: 200px;
  margin-top: 50px !important;
}
